/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* site-main */


.site-banner .banner-area{
    background: url(./assets/about_page_banner.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/about.jpg) no-repeat;
    background-size: 200%;
    background-position: 40% 0;
}


@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}

/* #site-main */

/* additions */

#home, #skills, #projects, #education, #experience, #resume, #contact, .card{
    background-color: white;
    color: black;
}

h1{
    text-align: center;
}

.card{
    border: 1px solid gray;
    margin: 20px;
    width: 320px;
}

.card img{
    min-height: 210px;
}

.card-header{
    background-color: white;
    color: black;
    text-align: center;
    border-color: transparent;
    margin: 0px;
}

.card a:hover{
    transform: scale(1.3);
}

.card-footer{
    background-color: white;
    text-align: center;
    border-color: transparent;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 380px) {
.card:hover {
    box-shadow: 2px 2px 3px 1px rgba(1, 2, 2, .2);
    transform: scale(1.1);
    }
}

#skills img{
    width: 150px;
    height: 150px;
    padding: 10px;
}

#education img{
    height: 250px;
    width: 250px;
}







